/* перенести в хост приложение, переименовать css класс, использовать имя css класса при вызове render_gallery_list */

$minus_margin: -30px; // отрицательные отступы слева и справа для общего контейнера
$w: 320px; /* NOTE:: размер картинки [x090] синхронизировано с значением в C80AlbumGallery::GphotoUploader */
$h: 200px; /* NOTE:: размер картинки [x090] синхронизировано с значением в C80AlbumGallery::GphotoUploader */

//------------------------------------------------------------------------------------------------------------------------

div.gallery_list_slots {

  &.style_photostudio {
    padding: 0;
    margin: 0 $minus_margin;

    .slot_item {
      margin-bottom: 25px;

      div.photo {
        width: $w;
        height: $h;
        margin-bottom: 5px;

        > a {
          width: $w;
          height: $h;
        }

      }

      div.title {
        width: $w;
      }

    }

  }

}