<ul id="gallery_list" class="clearfix">

  <% list.each do |gallery| %>
      <li>
        <div class="col-md-12 col-xs-12 col-sm-12">
          <%= link_to(my_url_for_gallery(gallery)) do %>
              <%= image_tag gallery.gphotos.first.image.thumb256, :alt => gallery.title if gallery.gphotos.count > 0 %>
              <div class="name"><%= " <strong>&middot;</strong> #{gallery.title} <strong>&middot;</strong> ".html_safe %></div>
          <% end %>
        </div>
      </li>
  <% end %>
</ul>